<div *ngIf="chesseBoard.board" style="text-align: center; width: 100%; align-content: center;">
  <div *ngFor="let row of chesseBoard.board ; index as i"
    style="display: flex; height: 11vh; position: relative; width: fit-content; margin: auto;">
    <div *ngFor="let piece of row; index as j"
      style="height: 100%; width: 11vh; border: 1px solid black; position: relative;"
      [ngStyle]="{'background-color': ((i+j)%2==1) ? '#207CC4':'white'}" (click)="performAction(j,i)">
      <img *ngIf="piece" src="assets\images\{{''+piece.color+piece.type}}.png" alt="" style="max-width: 90%; max-height: 90%;"> 
    </div>
  </div>
</div>